<nav>
    <a href="{{ path('app_main') }}"><img src="" alt=""></a>
    <ul>
        <li>Acceuil</li>
        <li>Articles</li>
        <li>Catégories</li>
        <li>Auteurs</li>
        <li>Contact</li>
        <li>Recherche</li>
    </ul>
</nav>